/* Resume stuff */
.expandoThing {
  height:100%;
  width:100%;
  display:inline;
  overflow-x: visible;
  padding:1px;
  border-color:blue;
  border-style:solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-width:1px;

  font-size: 20px;

  @media @tablet {
    font-size: 14px;
  }

  @media @smartphone {
    font-size: 12px;
  }
}
