/* Resume stuff */
.expandoThing {
  height:100%;
  width:100%;
  position:static;
  padding:1px;
  border-color:blue;
  border-style:solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-width:1px;
}

.expandoThing h1 {

  // @media only screen and (max-width:768px) {
  //   font-size: 2em;
  // }

  // @media only screen and (max-width:360px) {
  //   font-size: 1.6em;
  // }


  // font-size: 2.6em;
}
