/* Resume stuff */
.expandoThing {
  height:100%;
  width:100%;
  font-size: 20px;

  @media @tablet {
    font-size: 14px;
  }

  @media @smartphone {
    font-size: 12px;
  }
}

.verticalDesktopCentermabob {
  height:20%;

  @media @smartphone {
    height:0%;
  }
}

#scrolleyArrow {
  -webkit-animation-delay:5s;
  -moz-animation-delay:5s;
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
}
